<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <title>Login | FrogBase</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Algoramming" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="public/assets/images/favicon.ico">

    <%- include ('../Partials/HeaderStyle')  %>

</head>

<body>
    <div class="home-btn d-none d-sm-block">
        <a href="/" class="text-dark"><i class="fas fa-home h2"></i></a>
    </div>
    <div class="account-pages my-5 pt-sm-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-5">
                    <div class="card overflow-hidden">
                        <div class="bg-login text-center">
                            <div class="bg-login-overlay"></div>
                            <div class="position-relative">
                                <h5 class="text-white font-size-20">Welcome Back !</h5>
                                <p class="text-white-50 mb-0">Sign in to continue to FrogBase.</p>
                                <a href="/" class="logo logo-admin mt-4">
                                    <img src="public/assets/images/logo-sm-dark.png" alt="" height="30">
                                </a>
                            </div>
                        </div>
                        <div class="card-body pt-5">
                            <div class="p-2">
                                <% if(error.length> 0) { %>
                                    <div class="alert alert-danger text-center mb-4 flash" role="alert">
                                        <%= error %>
                                    </div>
                                <% } %>
                                <% if(message.length> 0) { %>
                                    <div class="alert alert-success text-center mb-4 flash" role="alert">
                                        <%= message %>
                                    </div>
                                <% } %>
                                <form class="form-horizontal" method="post" action="/post-login">

                                    <div class="mb-3">
                                        <label class="form-label" for="username">Email</label>
                                        <input type="text" class="form-control" id="username" placeholder="Enter email" name="email" value="admin@algoramming.com">
                                    </div>

                                    <div class="mb-3">
                                        <label class="form-label" for="userpassword">Password</label>
                                        <input type="password" class="form-control" id="userpassword" name="password" value="@Admin123"
                                        placeholder="Enter password">
                                    </div>

                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="customControlInline">
                                        <label class="form-check-label" for="customControlInline">Remember
                                            me</label>
                                    </div>

                                    <div class="mt-3">
                                        <button class="btn btn-primary w-100 waves-effect waves-light" type="submit">Log
                                            In</button>
                                    </div>

                                    <div class="mt-4 text-center">
                                        <a href="/forgot-password" class="text-muted"><i
                                                class="mdi mdi-lock me-1"></i> Forgot your password?</a>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                    <div class="mt-5 text-center">
                        <p>Don't have an account ? <a href="register"
                                class="fw-medium text-primary"> Signup now </a> </p>
                        <p>©
                            <script>document.write(new Date().getFullYear())</script> FrogBase. Crafted with <i
                                class="mdi mdi-heart text-danger"></i> by Algoramming
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <%- include ('../Partials/VendorScript')  %>

    <script src="public/assets/js/app.js"></script>

</body>

</html>